<nav class="navbar navbar-expand-lg navbar-light bg-light navigationbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../assets/images/home.png" alt="" width="30" height="24">
    </a>
    <a class="navbar-brand" href="#">Tourism</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a [class.active]="val" class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signin">Signin</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div *ngIf="spinner">
  <mat-spinner mode="indeterminate" diameter="50"></mat-spinner>
</div>
<router-outlet></router-outlet>