@import "~bootstrap-icons/font/bootstrap-icons.css";
input.ng-touched.ng-invalid{
      border-bottom: 2px solid red !important;
}
.outestdiv{
      z-index: 2;
      background-color: white;
}
.imagediv{
      background-color: teal;
}
.image{
      padding-left: 70px;
      padding-bottom: 30px;
      margin-left: -12px;
}
.formdiv{
      padding: 0 150px;
}
.formdiv input{
      border: none;
      border-radius: 0%;
      border-bottom: 2px solid goldenrod;
      box-shadow: none !important;
}
.icons{
      font-size: 30px;
}
.signinbutton{
      border-radius: 25px;
}