<div class="container mt-5 mb-4 shadow-lg rounded-3 outestdiv">
  <div class="row">
    <div class="col-lg-6 imagediv">
      <img src="./assets/images/laptop.png" class="img-fluid image">
    </div>
    <div class="col-lg-6 mt-5 formdiv">
      <h3 class="text-uppercase text-danger text-center mb-3">Sign Up</h3>
      <div class="d-flex justify-content-evenly iconsdiv">
        <div><i class="bi bi-facebook text-primary icons"></i></div>
        <div><i class="bi bi-instagram text-danger icons"></i></div>
        <div><i class="bi bi-twitter text-primary icons"></i></div>
      </div>
      <form [formGroup]="formData" (ngSubmit)="formSubmit(formData);">
        <div>
          <input formControlName="name" type="text" placeholder="Name" class=" mb-3 form-control">
        </div>
        <div>
          <input formControlName="phoneno" type="tel" placeholder="Phone No." class=" mb-3 form-control">
        </div>
        <div>
          <input formControlName="email" type="email" placeholder="Email" class="mb-3 form-control">
        </div>
        <div>
          <input formControlName="password" type="password" placeholder="Password" class=" mb-3 form-control">
        </div>
        <button class="btn btn-warning w-100" [disabled]="!formData.valid">Sign Up</button>
      </form>
      <hr>
      <div class="mt-3 d-flex justify-content-center mb-4">
        <a routerLink="/signinphn"><button class="btn btn-outline-danger signinbutton">Signin using Phone</button></a><br> 
      </div>
    </div>
  </div>
</div>