<div class="container mt-5 mb-4 shadow-lg rounded-3 outestdiv">
  <div class="row">
    <div class="col-lg-6 imagediv">
      <img src="./assets/images/laptop.png" class="img-fluid image">
    </div>
    <div class="col-lg-6 mt-5 formdiv">
      <h3 class="text-uppercase text-danger text-center mb-4">Sign In</h3>
      <div class="d-flex justify-content-evenly iconsdiv">
        <div><i class="bi bi-facebook text-primary icons"></i></div>
        <div><i class="bi bi-instagram text-danger icons"></i></div>
        <div><i class="bi bi-twitter text-primary icons"></i></div>
      </div>
      <form [formGroup]="formData" (ngSubmit)="formSubmit(formData);">
        <div>
          <input formControlName="phoneno" type="tel" placeholder="Phone No" class="mb-3 form-control">
        </div>
        <div>
          <input formControlName="name" type="text" placeholder="Name" class=" mb-3 form-control">
        </div>
        <button class="btn btn-warning w-100" [disabled]="!formData.valid">Login</button>
      </form>
      <div class="mt-3 d-flex justify-content-center">
        <a routerLink="/signin"><button class="btn btn-outline-danger signinbutton">Signin using Email</button></a><br>
      </div>
      <hr>
      <div class="mt-3 mb-5 text-center">Don't Have an account? <a routerLink="/signup">Signup</a></div>
    </div>
    <div class="col-lg-6 mt-5 otpdiv">
      <h3 class="text-uppercase text-danger text-center mb-4">Sign In</h3>
      <div class="d-flex justify-content-evenly iconsdiv">
        <div><i class="bi bi-facebook text-primary icons"></i></div>
        <div><i class="bi bi-instagram text-danger icons"></i></div>
        <div><i class="bi bi-twitter text-primary icons"></i></div>
      </div>
      <div>
        <h3 class="m-4 text-center" style="color: goldenrod;">Enter OTP </h3>
      </div>
      <form [formGroup]="otpData" (ngSubmit)="otpSubmit(otpData);">
          <div class="otp">
          <div>
            <input formControlName="first" type="text" class=" mb-3 form-control first" onkeyup="otpfun(this,'second');">
          </div>
          <div>
            <input formControlName="second" type="text" class=" mb-3 form-control second" onkeyup="otpfun(this,'third');">
          </div>
          <div>
            <input formControlName="third" type="text" class=" mb-3 form-control third" onkeyup="otpfun(this,'fourth');">
          </div>
          <div>
            <input formControlName="fourth" type="text" class=" mb-3 form-control fourth">
          </div>
        </div>
        <button class="btn btn-secondary d-inline-flex">Login</button>
      </form>
      <button class="btn btn-success" onclick="resend();">Resend</button>
      <div class="mt-3 d-flex justify-content-center">
        <a routerLink="/signin"><button class="btn btn-outline-danger signinbutton">Signin using Email</button></a><br>
      </div>
      <hr>
      <div class="mt-3 mb-5 text-center">Don't Have an account? <a routerLink="/signup">Signup</a></div>
    </div>
  </div>
</div>